# ðŸ“Œ Phase 2: Feature Engineering for Naxalite Hideout Prediction

This notebook processes the raw location data and enriches it with additional geospatial features such as elevation, distance to villages, etc. These features will be used to train an ML model in the next phase.

In [1]:
# âœ… Step 1: Load the combined CSV data
import pandas as pd
df = pd.read_csv("../Data/naxal_hideouts_combined.csv")
df.head()

,name,latitude,longitude,date_range
0,Vashudev rao@takkapali satish,19.12562,81.14555,2025-06-01_to_2025-06-10
1,Ranita@Jaymati,19.38255,80.88472,2025-06-01_to_2025-06-10
2,Ranita@Jaymati,19.37888,80.96871,2025-06-01_to_2025-06-10
3,Ranita@Jaymati,19.42753,80.86589,2025-06-01_to_2025-06-10
4,Vashudev rao@takkapali satish,19.14920,81.16334,2025-06-11_to_2025-06-20

## âœ… Step 2: Add Elevation using Open-Elevation API
This will fetch elevation (in meters) based on latitude and longitude. It may be slow due to API rate limits.

In [2]:
import requests
import time

def get_elevation(lat, lon):
    url = f"https://api.open-elevation.com/api/v1/lookup?locations={lat},{lon}"
    try:
        response = requests.get(url)
        elevation = response.json()['results'][0]['elevation']
        return elevation
    except:
        return None

# Uncomment below to run for all rows (slow)
df['elevation'] = df.apply(lambda row: get_elevation(row['latitude'], row['longitude']), axis=1)

## âœ… Step 3: Add Distance to Simulated Village
You can later replace this with real road or village coordinates using GIS tools or OSM data.

In [3]:
from geopy.distance import geodesic

# Simulate a village nearby (replace with real village coordinates later)
village_coord = (19.35000, 80.95000)

df['distance_to_village'] = df.apply(
    lambda row: geodesic((row['latitude'], row['longitude']), village_coord).km,
    axis=1
)

## âœ… Step 4: Save Enhanced Dataset
This will be used for ML model training in Phase 3.

In [4]:
df.to_csv("../Data/naxal_hideouts_features.csv", index=False)
print("âœ… Feature-enhanced dataset saved successfully.")
df.head()

âœ… Feature-enhanced dataset saved successfully.

,name,latitude,longitude,date_range,elevation,distance_to_village
0,Vashudev rao@takkapali satish,19.12562,81.14555,2025-06-01_to_2025-06-10,479.0,32.243497
1,Ranita@Jaymati,19.38255,80.88472,2025-06-01_to_2025-06-10,475.0,7.747186
2,Ranita@Jaymati,19.37888,80.96871,2025-06-01_to_2025-06-10,788.0,3.752889
3,Ranita@Jaymati,19.42753,80.86589,2025-06-01_to_2025-06-10,365.0,12.317445
4,Vashudev rao@takkapali satish,19.14920,81.16334,2025-06-11_to_2025-06-20,553.0,31.577480